{% extends 'base.html' %}
{% load static %}
{% block title %} Log In {% endblock %}

{% block content %}

<section class="w-100 p-4 d-flex justify-content-center pb-4 h6">
    <form action="{% url 'account:login' %}" method="post" style="width: 32rem;">
        {% csrf_token %}
        <h2 class="h1 mb-3 text-center">Sign in</h2>

        <!-- ERRORS DISPLAYED HERE -->
        {% if form.errors %}
        <div class="alert alert-primary" role="alert">
            Error: Email or Password not correct!
        </div>
        {% endif %}

        <!-- Email input -->
        <div class="form-outline mb-3">
            <label class="form-label" for="login-email" style="margin-left: 0px;">{{ form.username.label }}</label>
            {{ form.username }}
            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-3">
            <label class="form-label" for="login-password" style="margin-left: 0px;">{{ form.password.label }}</label>
            {{ form.password }}
            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64px;"></div><div class="form-notch-trailing"></div></div>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-2">
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                    <!-- <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked="">
                    <label class="form-check-label" for="form2Example31"> Remember me </label> -->
                </div>
            </div>

            <div class="col">
                <a href="{% url 'account:password_reset' %}">Forgotten Password?</a>
            </div>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4 p-2 w-100">Sign in</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a href="{% url 'account:register' %}">Create an account?</a></p>
        </div>
        <p class="small text-center pt-4">
            
        </p>
        <p class="small text-center">
            {% comment %} <a href="">Help Center?</a> {% endcomment %}
        </p>
    </form>
</section>
{% endblock content %}