{% extends 'base.html' %}
{% block title %} Reset password {% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
    <script>
        window.location.href = "{% url 'account:dashboard' %}"
    </script>
{% endif %}


<section class="w-100 p-4 d-flex justify-content-center pb-4 h6">
    <form method="post" action="{% url 'account:password_reset' %}" style="width: 32rem;">
        {% csrf_token %}
        <!-- SUCCESS MESSAGE HERE -->
        {% if form.is_valid %}
        <div class="alert alert-primary" role="alert">
            Check your email, we sent instructions.
        </div>
        {% endif %}
        <h2 class="h1 mb-3 text-center pb-3">Reset password</h2>
        <p>Enter your email, we'll send you a reset link.</p>
        <!-- ERRORS HERE -->
        {% if form.errors %}
        <div class="alert alert-primary" role="alert">
            Error. Try again!
        </div>
        {% endif %}

        <!-- Email input -->
        <div class="form-outline mb-3">
            <!-- <label class="form-label" for="login-username" style="margin-left: 0px;">{{ form.email.label }}</label> -->
            {{ form.email }}
            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-5 p-2 w-100">Go</button>
    </form>
</section>
{% endblock content %}