{% extends 'base.html' %}
{% load static %}
{% block title %} Reset password {% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
    <script>
        window.location.href = "{% url 'account:dashboard' %}"
    </script>
{% endif %}


<section class="w-100 p-4 d-flex justify-content-center pb-4 h6">
    <form class="login-form p-4 rounded" method="post">
        {% csrf_token %}
        <h1 class="h4 mb-4 font-weight-bold">Change your password</h1>
        <p>Use the form below to change your password.</p>

        {% if form.errors %}
        <div class="alert alert-primary" role="alert">
            Error: Please try again!
        </div>
        {% endif %}

        <label class="small font-weight-bold">{{ form.new_password1.label}}</label>
        {{ form.new_password1 }}
        <label class="small font-weight-bold">{{ form.new_password2.label}}</label>
        {{ form.new_password2 }}
        <ul>
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
        </ul>
        <button class="btn btn-primary btn-block py-2 mb-4 mt-5 font-weight-bold" type="submit"
            value="Change">Submit
        </button>
    </form>

    <p class="small text-center pt-4">
        <a href="{% url 'account:login' %}">Already have an account?</a>
    </p>
</section>
{% endblock content %}